FLASK_ENV=development
SECRET_KEY=
APP_PASSWORD=
COINGECKO_API_KEY=
FINHUB_VAPID_PUBLIC_KEY=
FINHUB_VAPID_PRIVATE_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
NTFY_TOPIC=

COINBASE_API_KEY=
COINBASE_API_SECRET=
COINBASE_API_PASSPHRASE=
KALSHI_EMAIL=
KALSHI_PASSWORD=
BANK_EMAIL_ADDRESS=
BANK_EMAIL_PASSWORD=
BANK_EMAIL_IMAP_SERVER=imap.gmail.com